@font-face {
    font-family: 'SourceSansPro';
    src: url('../../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf')  format('truetype');
}

* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body, ul,ol h1,h2,h3,h4, p{
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style: none;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.page_content {
    width: 90%;
}